@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
.left-banner{
    height: 100vh;
    width: 250px;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column; 
}

.elements_container{
    height: 70px;
    width: 70px;
    margin-left: 50px;
}

.search_bar{
    width: 621px;
    height: 50px;
}

img{
    float: right;
}

p{
    font-size: large;
}

nav ul li{
    display: inline-block;
    line-height: 30px; 
    margin: 0 5px;
}

.main{
    position: absolute;
    width: 650px;
    height: 100%;
    margin-left: 320px;
    margin-top: 20px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
}

.forum {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.forum-container {
    display: flex;
    flex-direction: column;
}

.forum-post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.post-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px #4d4d4d;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

input[type="text"], textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

button {
    background-color: #b6b6b6;
    color: #000000;
    border: none;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
}

