.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    max-width: 100%;
}

.small {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.small button {
    background-color: #fff;
    color: #000000;
    border: 1px #000000 solid;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    width: 25%;
    justify-content: center;
}

.small button:hover{
    background-color: #D9D9D9;
}

.navigation #share{
    background-color: #fff;
    color: #000000;
    border: #000000 1px solid;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    width: 500px;
    justify-content: center;
}

.navigation #share:hover{
    background-color: #D9D9D9;
}

.first {
    display: flex;
    flex-direction: column;
}

.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 15px;
    gap: 15px;

}

.block1{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#image {
    width: 30%;
    height: 100%;
}

.block2{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 15px;
    width: 100%;
    height: 70%;
}

#image2-1 {
    width: 60%;
    height: 80%;
}

#image2-2 {
    width: 100%;
    height: 90%;
}
.image-box{
    background-color: #fff;
    width: 30%;
    height: 100%;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
#image1 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    z-index: 1;     
}
.overlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .info-box {
    box-sizing: border-box;
    transform: translate(-50%, -50%); /* Center the box */
    text-align: center;
    color: white;
    padding: 10px;
    background: rgb(255, 252, 252);
    border-radius: 5px;
    max-width: 90%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 4;
  }

  /* Hover effect for the image box */
.image-box:hover .overlap {
    opacity: 1;
    z-index: 1;
  }
  
  /* Hover effect for the image */
  .image-box:hover img {
    transform: scale(1.1);
  }